name: Build and maybe deploy GitHub Pages
on:
  push: {}
  workflow_dispatch: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-ghpages:
    name: Build book
    permissions:
      contents: write
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v1
        with:
          mdbook-version: '0.4.25'

      - name: Setup mdBook-mermaid plugin
        shell: bash
        env:
          SHA256SUM: |
            04f9fa41f89b7a1809ef2525efc7ad2c112df4ae1241de25efe354940441ea70  mdbook-mermaid-v0.12.6-x86_64-unknown-linux-gnu.tar.gz
        run: |
          # Create temporary directory for mdbook-mermaid
          MERMAID_TMP_DIR=$(mktemp --directory "${RUNNER_TEMP}/mdbook-mermaid-XXXXXXXXXX")
          cd "${MERMAID_TMP_DIR}"
          
          # Download, check downloaded file and unpack it
          wget https://github.com/badboy/mdbook-mermaid/releases/download/v0.12.6/mdbook-mermaid-v0.12.6-x86_64-unknown-linux-gnu.tar.gz
          echo $SHA256SUM | sha256sum --check
          tar -xvf mdbook-mermaid-v0.12.6-x86_64-unknown-linux-gnu.tar.gz
          rm mdbook-mermaid-v0.12.6-x86_64-unknown-linux-gnu.tar.gz
          
          # Add mdbook-mermaid to the path
          echo "${MERMAID_TMP_DIR}" >> $GITHUB_PATH

      - name: Build the book
        shell: bash
        run: |
          mdbook build

      - name: Upload GitHub Pages content
        if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/setup-mdbook'
        uses: actions/upload-pages-artifact@v1
        with:
          path: "./build/"

  deploy-ghpages:
    name: Deploy to GitHub Pages
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/setup-mdbook'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-22.04
    needs:
      - build-ghpages
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
